*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sec-title{
    padding: 2rem 0 3px 5rem;
}

 .sec-hr{
    margin-left: 5rem;
}


h2{
    font-family: 'Lora', serif;
    font-size: 1.4rem;
    color: #22223C;
}

h1{
    font-size: 2.2rem;
}

hr{
    border: 2px solid #ee9519;
    width: 20%;
    margin-top: 0;
}

.container-fluid{
    padding : 0.5% 15% 0 15%;
}


/* HEADER */
.brand1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: inline-block;
    margin-right: -10px;
    color: #166527;
}

.brand2{
    font-family: 'Poppins', sans-serif;
    font-weight : 700;
    display: inline-block;
    margin-left: 6px;
    color: #1a3724;
}
.fixed-top{
    background-color: rgb(247, 247, 247);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.fa-user{
    margin-top: 8px;
    cursor: pointer;
    text-align: right;
}

.nav-link{
    font-family: 'Poppins', sans-serif;
    color: #202020;
    margin-right: 20px;
    text-align: right;
}

.nav-link:hover{
    color: #166527;
}

#nav-my{
    visibility: hidden;
    display: none;
}


/* HERO */
.hero-container-desk{
    display: flex;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.9051995798319328) 13%, rgba(20,20,20,0.711922268907563) 40%, rgba(45,49,50,0.9164040616246498) 79%),url("https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
 }
 
 .box1{
     display: flex;
     flex-direction: column;
     gap: 1rem;
     justify-content: center;
     width: 60%
 }
 
 .hero-box{
     width: 70%;
     margin-left: 10%;
 }
 
 .box2 img{
     width: 500px;
 }
 
 .box2{
     align-self: center;
     width: 40%;
 }
 
 .big-heading .clr,.clr-and,.clr-a{
     color: whitesmoke;
     font-family: 'Libre Baskerville', serif;
     font-size: 2rem;
 }
 
 .orange_clr-1,.orange_clr-2{
     font-family: 'Libre Baskerville', serif;
     font-size: 2rem;
     color: #F5B963;
 }
 
 .head-desc{
     color: whitesmoke;
     font-family: 'Poppins', sans-serif;
     font-size: 1rem;
 }
 
 .head-form input[type=email]{
     border-radius: 5px;
     border: 2px none;
     font-family: 'Poppins', sans-serif;
     width: 60%;
     height: 2rem;
     text-align: center;
     font-size: 1rem;
 }

 /* Cabins */

 
.card .card-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-size: small;
    color: #d4dad7;
}

.cards-box{
    padding: 0 25px 1.5px 0;
    display: flex;
    justify-content: center;
    gap:6%;
}

.fa-star{
    color: #D7FFF1;
}


#cabins .cards-box{
    display: flex;
    justify-content: center;
}

#cabins .card{
    background-color: #2B3030;
    border-radius: 3px;
    border: none;
    margin-top: 1.5rem;
    width: 18rem;
}

.card h3{
    font-size: small;
    font-family: 'Poppins', sans-serif;
    color: #D7FFF1
}

.card h2{
    font-family: 'Bitter', serif;
    letter-spacing: 0.5px;
    font-size: 1rem;
    font-size: small;
    color: white;
}


/* Attractions */
.attraction-conatiner{
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    margin-top: 2.5rem;
}

#attraction .card{
    background-color: #D7FFF1;
     border: 1 solid grey; 
     max-width: 35%;
}

#attraction .card-title{
    font-size: small;
    font-family: 'Poppins', sans-serif;
    color: #596363;
    height: max-content;
}

#attraction .card-text{
    font-family: 'Bitter', serif;
    letter-spacing: 0.5px;
    font-size: 1rem;
    font-size: small;
    color: black;
}

#attraction .card-desc{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-size: small;
    color: #424745;
}

/* inspiration */
.c1{
    background: rgb(45,49,50);
    background: linear-gradient(90deg, rgba(45,49,50,1) 0%, rgba(45,49,50,0.76234243697479) 0%),url("https://i.postimg.cc/SRCLrLGZ/c1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 2.5rem;;
}
.c2{
    background: rgb(45,49,50);
    background: linear-gradient(90deg, rgba(45,49,50,1) 0%, rgba(45,49,50,0.76234243697479) 0%),url("https://i.postimg.cc/9QJdJQGj/c2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 2.5rem;;
}
.c3{
    background: rgb(45,49,50);
    background: linear-gradient(90deg, rgba(45,49,50,1) 0%, rgba(45,49,50,0.76234243697479) 0%),url("https://i.postimg.cc/kG3KB6dW/c3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 2.5rem;;
}

.inspiration-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.inspiration-container h1{
    color: whitesmoke;
    font-family: 'Libre Baskerville', serif;
    font-size: xx-large;
    line-height: 2;
    width: 100%;
}

.insp-para{
    width: 500px;
}

.inspiration-container p{
    font-family: 'Open Sans', sans-serif;
    font-size:  large;
    color: #d4dad7;
    text-align: center;
}

.inspiration-container .fa-star{
    color:#16af37;
    width: 100%;
}

.insp-stars{
    display: flex;
}


/* Transportation */

.trans-container{
    display: flex;
    gap: 5%;
    justify-content: center;
    margin-top: 3rem;
}

.trans-desc{
    width: 15%;
}

.trans-box{
    width: 22%;
}

.trans-desc p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-size: medium;
    width: auto;
    color: #D7FFF1;
    text-align: left;
}

#transportation .btn{
    margin-top: 15px;
    width: 75%;
    color: black;
}


#transportation h3{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    font-size: 1rem;
    font-size: large;
    color: whitesmoke;
    text-align: center;
    margin-top: 10px;
}

.bgclr{
    padding-top: 15px;
    margin: 0;
    height: max-content;
    width: 100%;
    background-color: #2B3030;
}

/* Contact */
.contact-hr{
    border: 1px solid #D7FFF1;
    width: 80%;
    text-align: center;
    margin: 0 auto 0 auto; 
} 

#contact{
    background-color: #2B3030;
    padding-top: 3%;
}

.contact-container{
    display: flex;
    justify-content: center;
    gap:12rem;
    padding-top: 1%;
}

#contact h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: medium;
    color: #D7FFF1;
}

#contact p{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    font-size: small;
    color: whitesmoke;
    width: auto;
}

.conatct-desc{
    width: 40%;
}

#contact input[type=email]{
    width: 15rem;
    height: 5%;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    /* margin-bottom: 0.5rem; */
}

#contact .btn-warning{
    font-family: 'Poppins', sans-serif;
    font-size: smaller;
    color: #1c1d1c9c;
    margin-top: 10px;
    width: 15rem;
    margin-bottom: 10px;
}

#contact .btn-warning:hover {
    transform: scale(1.2);
  }

  /* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B3030;;
    color: #fff;
    padding: 2% 2%;

  }

  footer a{
    text-decoration: none;
  }

  
  .footer-left img {
    height: 50px;
  }
  
  .footer-middle {
    font-size: 14px;
    color: rgba(245, 245, 245, 0.411);
  }
  
  .footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .social-icon {
    display: inline-block;
    background-color: #fff;
    color: #333;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    text-align: center;
    line-height: 30px;
    transition: all 0.2s ease-in-out;
  }
  
  .social-icon:hover {
    transform: scale(1.2);
  }

  
.brand3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: inline-block;
    margin-right: -10px;
    color: rgba(245, 245, 245, 0.411);
}

.brand4{
    font-family: 'Poppins', sans-serif;
    font-weight : 700;
    display: inline-block;
    margin-left: 6px;
    color: rgba(245, 245, 245, 0.411);
}




 @media(min-width:991px) and (max-width:1113px){

    .box2{
        display: none;
        visibility: hidden;
    }

    .box1{
        align-items: center;
        text-align: center;
        width: 100%;
        margin-left: -5%;
    }

    .head-form{
        align-items: center;
        width: 70%;
        margin-left: 35%;
    }

    .insp-main-head h1{
        font-size:x-large;
    }
}



@media(max-width:990px){

    .sec-title{
        padding: 1rem 0 0 2.5rem !important;
    }
    
    .sec-hr{
        margin-left: 2.5rem !important;
    }

    li i{
        visibility: hidden;
    }

    .box2{
        display: none;
        visibility: hidden;
    }

    .box1{
        align-items: center;
        text-align: center;
        width: 100%;
        margin-left: -7%;
    }

    .head-form{
        align-items: center;
        width: 70%;
        margin-left: 35%;
    }

    
    /* cabin */

    .cards-box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap:0;
    }
    
    /* Attraction */

    .attraction-conatiner{
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 100%;
    }

    .attraction-conatiner .card{
        max-width: 60% !important;
    }

    .attraction-conatiner .card-desc{
        width: 90%;
    }
 
    /* Inspiration */

    .c1{
        background: rgb(45,49,50);
        background: linear-gradient(90deg, rgba(45,49,50,1) 0%, rgba(45,49,50,0.76234243697479) 0%),url("https://images.pexels.com/photos/2108845/pexels-photo-2108845.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        margin-top: 2.5rem;;
    }
    .c2{
        background: rgb(45,49,50);
        background: linear-gradient(90deg, rgba(45,49,50,1) 0%, rgba(45,49,50,0.76234243697479) 0%),url("https://images.pexels.com/photos/906531/pexels-photo-906531.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        margin-top: 2.5rem;;
    }
    .c3{
        background: rgb(45,49,50);
        background: linear-gradient(90deg, rgba(45,49,50,1) 0%, rgba(45,49,50,0.76234243697479) 0%),url("https://images.pexels.com/photos/756024/pexels-photo-756024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        margin-top: 2.5rem;;
    }

    .insp-main-head h1{
        font-size:large;
    }

    .insp-para p{
        font-size: medium;
        width: 75%;
        margin: 0 auto 0 auto;
    }

    .insp-stars{
        margin-top: 5%;
    }

    /* Transportation */
    .trans-container{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }    

    .trans-box,.trans-desc{
        width: 90%;
        text-align: center;
        align-self: center;
        margin: 0 auto 0 auto;
    }

    .trans-desc p{
        text-align: center;
        margin-top: 5%;
    }


    /* contact */
     
    .contact-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:1.5rem;
    }

    .conatct-desc{
        margin-top: 3%;
        text-align: center;
        height: 5rem;
        width: 85%;
    }

    .contact-mail input{
        margin-top: 1rem;
    }


    .contact-mail{
        margin-bottom: 1rem;
    }


    /* footer */
    footer {
        flex-direction: column;
      }

    .footer-right {
        padding-top: 3%;
    }
}
    
